<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Restful checkout order service client demo</title>
  <%= stylesheet_link_tag "song" %>
  <%= javascript_include_tag :defaults %>
</head>
<body id="admin">
      <%= yield :layout %>
</body>
</html>
